/* Estilos do Footer */

footer {
    background: rgba(0, 0, 0, 0.9);
    padding: 40px 20px;
    text-align: center;
    color: rgb(253, 245, 234);
    position: relative;
    bottom: 0;
    width: 100%;
}

.nav-links-footer {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    color: aliceblue;
}

.nav-links-footer li {
    margin: 0 15px;
}

.nav-links-footer a {
    color: white;
    text-decoration: none;
}

.nav-links-footer a:hover {
    color: #61dafb;
    transition: color 0.4s ease;

}

/* Botões Sociais */
.social-buttons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-buttons .btn-footer {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.btn-footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background-color: transparent;
    z-index: 0;
    transition: top 0.4s ease;
    
}

.btn-footer i {
    position: relative;
    z-index: 1;
}

.btn-footer:hover::before {
    top: 0;
    
}

.btn-footer:hover {
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
}

.btn-footer:not(:hover) {
    color: rgb(255, 255, 255);
    transition: color 0.4s ease;
}

/* Cores dos botões sociais */
.whatsapp::before {
    background-color: #25D366;
}

.instagram::before {
    background: linear-gradient(135deg, 
  rgb(193, 53, 132) 0%,        /* Roxo vibrante */
  rgb(253, 29, 29) 30%,        /* Rosa quente */
  rgb(255, 45, 85) 60%,        /* Laranja suave */
  rgb(255, 215, 0) 100%);      /* Amarelo suave */





  

}

.gmail::before {
    background-color: #D44638;
}

.youtube::before {
    background-color: #FF0000;
}
