/* Estilos do Header e Menu Principal */
header {
    position: fixed;
    width: 100%;
    height: 15vh;
    top: 0;
    z-index: 1000;
    background: rgba(41, 41, 41, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center ;
    
}

.logo {
    position: absolute;
    top: 0;
    left: 20px;
    height: 100%;
    max-height: 200px;
    width: auto;
    object-fit: cover;
    margin: auto;
    z-index: 1001;
    
}

@media (max-width: 768px) {
    .logo {
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        max-height: 200px;
    }
}

@media (max-width: 480px) {
    .logo {
        height: 50%;
        max-height: 50px;
    }
}

/* Navegação Principal */
.nav-links {
    justify-content: center;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    
}

.nav-links li {
    margin: 0 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #61dafb;
}

/* Estilos do Botão de Login */
.btnLogin {
    position: absolute;
    right: 50px;
    top: 25px;
}

.btn.login {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: relative;
    overflow: hidden;
}




.btn.login::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background-color: #4CAF50;
    z-index: -1;
    transition: top 0.4s ease;
}

.btn.login:hover::before {
    top: 0;
}




.btn.login.logged {
    background-color: #4CAF50;
}

.btn.login.logged i {
    color: white;
}


/* Estilos do Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown > a::after {
    content: '▼';
    font-size: 0.7em;
    margin-left: 5px;
    display: inline-block;
    transition: transform 0.3s;
}

.dropdown:hover > a::after {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgb(43, 43, 43);
    backdrop-filter: blur(10px);
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1001;
    border-radius: 8px;
    padding: 10px 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
}

.dropdown-content.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-content li {
    display: block;
    padding: 8px 16px;
    margin: 0;
}

.dropdown-content li a {
    color: white;
    text-decoration: none;
}

.dropdown-content li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Estilos do Menu */
.menu-toggle  {
    display: none;
    position: fixed;
    left: 0px;
    top: 20px;
    z-index: 1001;
    background: none;
    border: none;
    color: #4CAF50;
    font-size: 24px;
    cursor: pointer;
}